Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/LSST/
Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/LSST_nobackground/
Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/segmentation_maps/segmentations.npy

