Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/LSST/CONFIGURATION_1_images.npy
Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/LSST_nobackground/CONFIGURATION_1_images.npy
Day-4_(Bayesian_and_or_Convolutional)_Neural_Networks/PM-Challenges/GravitationalLensing_LSST/segmentation_maps/segmentations.npy
*.npy

